*{margin:0; padding:0; list-style: none; text-decoration: none; font-family: 'Noto Sans KR', sans-serif; }
a{color:#222;}


header{background: rgba(255,255,255);}
/*랭귀지버튼 */

header .language_btn {padding-right: 20px; position: relative;display:inline-block;}
header .language_btn {font-weight: 200;}
header .language_btn::after{
    content: "";
    width: 5px;
    height: 5px;
    border-left: 2px solid #666;
    border-bottom: 2px solid #666;
    transform: rotate(-45deg);
    position: absolute;
    top: 6px;
    right: 0px;}
.header_top {width:1200px; margin:0 auto;}

/*랭귀지버튼 */

header .language_btn {padding-right: 20px; position: relative;display:inline-block; }
header .language_btn {font-weight: 200; }
.language_wrapper{position: relative;}
.language_btn_submenu{font-weight: 200;  flex-direction: column; background-color: white; position:absolute; left:-12px; top:134%; border:2px solid #b2b2b2; z-index: 100; box-sizing: border-box; padding:4px;
opacity: 0;
}
.language_btn_submenu.active{opacity:1;}
.language_btn_submenu li a{color:#333; line-height: 1; font-size: 13px !important; padding:3px 4px 4px 4px; display: inline-block; margin:3px; font-weight: 400;}
.language_btn_submenu li a:hover{text-decoration: underline;}
.language_btn_submenu li {line-height: 1;}
.far.fa-user{color:#666; padding-left: 7px; display: inline-block; }

/*랭귀지버튼 끝*/

.header_bottom{width:1266px; margin:0 auto; height:67px; } 
.header_top a {color:#666;}
.header_bottom a{color:#222;}
.header_top{width:1200px; margin:0 auto; display:flex; justify-content: space-between; align-items: center; height:67px;}
.header_top ul{display:flex;}
.header_top ul li:not(:last-child) a{ padding-right: 20px;}
.header_top ul li a{font-size: 14px;}
.header_bottom a{font-size: 18px ; display: inline-block; width:133px; text-align: center; padding:20px 0;}
.header_bottom ul{display:flex; justify-content: space-between;}

.header_top_wrap,.header_bottom_wrap{
    border-bottom: 1px solid rgba(0,0,0,0.18); 
    transition:0.3s all;
    box-sizing: border-box;
}

.header_bottom_submenu_inner{display:flex; width:1266px; margin:0 auto; justify-content: space-between;}
.header_bottom_submenu_inner ul li {text-align: center; }
.header_bottom_submenu_inner ul li a{display:inline-block; width:133px; text-align: center; margin-bottom: 12px; }
/*액티브관련 소스*/
.header_bottom_wrap.active {background-color: rgba(0,0,0,0.8); transition:0.3s all; }
.header_bottom_wrap.active .header_bottom > ul li a{color:#fff;}
.header_bottom_wrap.active .header_bottom_submenu a{color:#eaeaea; }
/*
.header_bottom_submenu a{position:relative; transition: all 0.3s;}*/
.header_bottom ul>li{position:relative;}
.header_bottom ul>li::before{ content:"";width:0%; height:3px; background-color: #fff;  z-index: 5000;
    position:absolute; bottom:0; 
transition: 0.3s all ease-in-out;}
.header_bottom ul>li:hover::before{ width:100%;}



/*액티브관련 소스*/

/*서브메뉴 추후에 슬라이드 스크립트 적용 */
.header_bottom_submenu {display:none; z-index: 3000; padding:40px 0;position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%; transition: 0.3s;}



.header_bottom_submenu_inner a {transition:0.3s all;}
.header_bottom_submenu_inner a:hover{font-weight: bold; color:black;}


.sub_page_wrap {width:1000px; margin: 0 auto; padding-top: 80px; box-sizing: border-box;}




.sub_page_menu_wrap {background-color: #444; }
.sub_page_wrap h1{text-align: center;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 80px;}
.sub_page_menu_wrap.active{visibility: hidden; }
.sub_page_menu_wrap ul{width:1196px; margin:0 auto; display:flex;  align-items: center;}
.sub_page_menu_wrap ul i{color:#ccc; font-size: 30px; padding-right: 20px;}
.sub_page_menu_wrap ul li{position: relative; padding: 0 82px 0 24px; border-left: 1px solid #777; border-right: 1px solid #777; }
.sub_page_menu_wrap ul li {margin-left: -1px;}
.sub_page_menu_wrap ul li a{padding:20px 0; display:inline-block; color:#cccccc; font-weight: 300;}


.sub_page_menu_wrap>ul>li::after {
    content: "";
    width: 5px;
    height: 5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);;
    right: 20px;
    z-index: 5;
    cursor:pointer;
}
.sub_page_menu_wrap .sub_submenu{ padding:10px 0; position: absolute;}

.sub_page_menu_wrap .sub_submenu{display:none; position: absolute;     top: 85%;
    left: 0px; z-index: 5}
.sub_page_menu_wrap .sub_submenu.active{display:block;}
.sub_page_menu_wrap .sub_submenu li{width:142px; background-color: #444; padding:4px 0 4px 24px}
.sub_submenu li a{padding:6px 0 !important; font-size: 14px}
.sub_page_menu_wrap .sub_submenu li:hover{background-color: #222;}




/*콘텐츠 */



.subpage_department_wrapper{display:flex;
flex-wrap: wrap; justify-content: space-between; padding-bottom: 100px;}
.department_cont{width:24%; border:1px solid #bdbdbd; height:240px; margin-bottom: 1%; position: relative;}



.department_hover_deco{
    opacity: 0;
    transition: 0.3s all;
    box-sizing: border-box;
    text-align: center;
    color:white;
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
        background: linear-gradient(to bottom, #308696 0%,#071828 100%);
}
.department_hover_deco h4{font-size: 24px; font-weight: 500;
padding-top: 62px;
padding-bottom: 8px;
position: relative;
}

.department_hover_deco h4::before{
    content: "";
    width: 28%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 35%;
}
.department_hover_deco ul{padding-top: 8px;}
.department_hover_deco ul li{font-size: 16px; font-weight: 300;}


.demartment_cont_inner{position: absolute; top:50%; left:50%; transform:translate(-50%,-50%);text-align: center}
.demartment_cont_inner p{width:100%; font-size: 20px; padding-top: 4px;}
.department_cont:hover span{opacity: 1;}

footer{background-color: #444; box-sizing: border-box; padding:8px 0; bottom:0; left:0; width:100%;}
footer .footer_inner{width:1200px; margin:0 auto;}
footer a{font-size: 14px; color:#d1d1d1; font-weight: 300;}
footer .footer_top ul{display:flex; justify-content: center;}
footer .footer_top ul li:not(:first-child){padding-left: 42px; }
footer .footer_top ul li a{color:#888;}
footer .footer_top_middle ul{display:flex; justify-content: space-between; align-items: baseline}
footer .footer_middle ul{display:flex; justify-content: center;}
footer .phone_number{font-size: 22px; color:#12bfe8; font-weight: 500}
footer ul{margin: 6px 0;}
footer .footer_btn{display:inline-block; padding:4px 12px; color:#666; border:1px solid #777; margin: 0 6px;}
footer .footer_bottom{display:flex; justify-content: center; padding:8px 0; }
footer .copy_right{font-size: 12px; text-align: center; margin:6px 0; color:#666;}







